body{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	background-color: rgba(0,0,0,0.9);
}

#navbar{
	text-align: center;
	background-color: #202020;
	padding: 5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:5;
	user-select: none;
}

#navbar a{
	color: #0099ff;
	text-decoration: none;
	padding: 5px 15px;
	display: inline-block;
	font-size: 25px;
	letter-spacing: 1px;
}	

#navbar a:hover{
	opacity: 0.9;
	background-color: #0099ff;
	color: #fff;
}

#banner img{
	margin-top: 45px;
	width: 100%;
	height: auto;
	user-select: none;
}

#container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



#content1{
	flex: 65%;
	min-height: 100px;
	background-color: #404040;
	font-family: 'Yrsa', serif;
}

#content2{
	flex: 35%;
	min-height: 100px;
	background-color: #303030;
	font-family: 'Yrsa', serif;
}

#content3{
	flex: 100%;
	min-height: 100px;
	background-color: #353535;
	font-family: 'Yrsa', serif;
	background-image: url(images/backg.jpg);
}

footer{
	background-color: #000;
	color: #eee;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	user-select: none;
}

footer a{
	text-decoration: none;
	color: #abff01;
	font-size: 20px;
}

footer a:hover{
	color: #ff7001;
}
#gallery{
	width: 75vw;
	margin-top: 2.5vw;
	margin-bottom: 2.5vw;
	margin-left: auto;
	margin-right: auto;
	user-select: none;
	line-height: 0;
	font-size: 0;
}

.respImg{
	margin: 1vw;
	width: 99%;
    height: auto;
	max-width: 22vw;
	max-height: 12vw;
	border-radius: 3px; 
	border: 0.1vw solid #303030;
}

.respImg:hover{
	opacity: 0.75;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	border: 0.1vw solid #abff01;
}

.lightbox{
	display: none;
	position: fixed;
	z-index: 15;
	width: 100%;
	max-width: 100vw;
	height: 100vh;
	top: 0;
	background: rgba(0,0,0,0.9);
}

.lightbox:target{
	display: block;
	outline: none;
}	

.lightbox img{
	max-width: 65vw;
	max-height: 80vh;
	height: auto;
	width: 100%;
	margin: 3vw 17.5vw auto 17.5vw;
}
	
#about{
	width: 75vw;
	margin: 2vw 12.5vw 2vw 12.5vw;
	font-size: 21px;
	color: #eee;
	text-align: justify;
	line-height: 1.5;
	text-shadow: 0 0 2px #01c0ff;
}	